<html>
<body>
    <div class="login">
       <h1>Chronic kidney disease prediction </h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Chronic kidney disease(Yes or No)</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Age</label>
            <select class="form-control" name="Age" placeholder="Enter you Age" required>
                <option class="placeholder" selected disabled value="">Entr the age</option>
                
                <option value=45>
                    45
                </option>
                <option value=36>
                    36
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Blood Pressure</label>
            <select class="form-control" name="Blood Pressure" placeholder="Enter your Blood Pressure" required>
                <option class="placeholder" selected disabled value="">Entr the bloodpressure</option>
                <option value=70>
                    70
                </option>
                <option value=52>
                    52
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Specific gravity</label>
            <select class="form-control" name="specific gravity" placeholder="Enter your specific gravity" required>
                <option class="placeholder" selected disabled value="">Entr the specific gravity</option>
                <option value=1.020>
                    1.020
                </option>
                <option value=1.5>
                    1.5
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Albumin</label>
            <select class="form-control" name="Albumin" placeholder="Enter your Albumin" required>
                <option class="placeholder" selected disabled value="">Entr albumin</option>
                <option value=4>
                    4
                </option>
                <option value=3>
                    3
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Sugar</label>
            <select class="form-control" name="Sugar" placeholder="Enter your Sugar" required>
                <option class="placeholder" selected disabled value="">Entr the sugar level</option>
                <option value=0>
                    0
                </option>
                <option value=3>
                    3
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Red_Blood_Cells</label>
            <select class="form-control" name="Red_Blood_Cells" placeholder="Enter your Red_Blood_Cells" required>
                <option class="placeholder" selected disabled value="">Entr the  Red_Blood_Cells</option>
                <option value='normal'>
                    "normal"
                </option>
                <option value='abnormal'>
                    "abnormal"
                </option>
                
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Pus cell</label>
            <select class="form-control" name="pus cells cells" placeholder="pus cells" required>
                <option class="placeholder" selected disabled value="">Entr your pus cells count</option>
                <option value=1>
                    1
                </option>
                <option value=0>
                    0
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Puss cell clumps</label>
            <select class="form-control" name="Puss cell clumps" placeholder="Enter the value of Puss cell clumps" required>
                <option class="placeholder" selected disabled value="">Entr the Puss cell clumps</option>
                <option value=0>
                    0
                </option>
                <option value=1>
                    1
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Bacteria</label>
            <select class="form-control" name="Bacteria" placeholder="Enter the value of bacteria" required>
                <option class="placeholder" selected disabled value="">Entr the bacteria</option>
                <option value=0>
                    0
                </option>
                <option value=1>
                    1
                </option>
                
            </select>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Blood glucose random</label>
            <select class="form-control" name="Blood glucose random" placeholder="Enter your Blood glucose random" required>
                <option class="placeholder" selected disabled value="">Entr the blood glucose random</option>
                <option value=122>
                    122
                </option>
                <option value=36>
                    36
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Blood Urea</label>
            <select class="form-control" name="Blood Urea" placeholder="Enter your Blood Urea" required>
                <option class="placeholder" selected disabled value="">Entr the bloodurea</option>
                <option value=53>
                    53
                </option>
                <option value=36>
                    36
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Serum_Creatinine</label>
            <select class="form-control" name="Serum_Creatinine" placeholder="Enter your Serum_Creatinine" required>
                <option class="placeholder" selected disabled value="">Entr the Serum_Creatinine</option>
                <option value=1.22>
                    1.22
                </option>
                <option value=1.6>
                    1.6
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Sodium</label>
            <select class="form-control" name="Sodium" placeholder="Enter your Sodium" required>
                <option class="placeholder" selected disabled value="">Entr the Sodium</option>
                <option value=115>
                    115
                </option>
                <option value=111>
                    111
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Potassium</label>
            <select class="form-control" name="Potassium" placeholder="Enter your Potassium" required>
                <option class="placeholder" selected disabled value="">Entr the Potassium</option>
                <option value=2.2>
                    2.2
                </option>
                <option value=3.6>
                    3.6
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Hemoglobin</label>
            <select class="form-control" name="Hemoglobin" placeholder="Enter your Hemoglobin" required>
                <option class="placeholder" selected disabled value="">Entr the Hemoglobin</option>
                <option value=15.4>
                    15.4
                </option>
                <option value=9.6>
                    9.6
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Packed_Cell_Volume</label>
            <select class="form-control" name="Packed_Cell_Volume" placeholder="Enter your Packed_Cell_Volume" required>
                <option class="placeholder" selected disabled value="">Entr the Packed_Cell_Volume</option>
                <option value=44>
                    44
                </option>
                <option value=36>
                    36
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">White_Blood_Cell_Count</label>
            <select class="form-control" name="White_Blood_Cell_Count" placeholder="Enter your White_Blood_Cell_Count" required>
                <option class="placeholder" selected disabled value="">Entr the White_Blood_Cell_Count</option>
                <option value=7800>
                    7800
                </option>
                <option value=6300>
                    6300
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Red_Blood_Cell_Count</label>
            <select class="form-control" name="Red_Blood_Cell_Count" placeholder="Enter your Red_Blood_Cell_Count" required>
                <option class="placeholder" selected disabled value="">Entr the Red_Blood_Cell_Count</option>
                <option value=5.2>
                    5.2
                </option>
                <option value=3.6>
                    3.6
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Hypertension</label>
            <select class="form-control" name="Hypertension" placeholder="Enter your Hypertension" required>
                <option class="placeholder" selected disabled value="">Entr the Hypertension</option>
                <option value=1>
                    1
                </option>
                <option value=0>
                    0
                </option>
                
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Diabetes_Mellitus</label>
            <select class="form-control" name="Diabetes_Mellitus" placeholder="Enter your Diabetes_Mellitus" required>
                <option class="placeholder" selected disabled value="">Entr the Diabetes_Mellitus</option>
                <option value=1>
                    1
                </option>
                <option value=0>
                    0
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Coronary_Artery_Disease</label>
            <select class="form-control" name="Coronary_Artery_Disease" placeholder="Enter your Coronary_Artery_Disease" required>
                <option class="placeholder" selected disabled value="">Entr the Coronary_Artery_Disease</option>
                <option value=0>
                    0
                </option>
                <option value=1>
                    1
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Appetite</label>
            <select class="form-control" name="Appetite" placeholder="Enter your Appetite" required>
                <option class="placeholder" selected disabled value="">Entr the Appetite</option>
                <option value=0>
                    0
                </option>
                <option value=1>
                    1
                </option>
                
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Pedal_Edema</label>
            <select class="form-control" name="Pedal_Edema" placeholder="Enter your Pedal_Edema" required>
                <option class="placeholder" selected disabled value="">Entr the Pedal_Edema</option>
                <option value=1>
                    1
                </option>
                <option value=0>
                    0
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Anemia</label>
            <select class="form-control" name="Anemia" placeholder="Enter your Anemia" required>
                <option class="placeholder" selected disabled value="">Entr the Anemia</option>
                <option value=1>
                    1
                </option>
                <option value=0>
                    0
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict your class" required />
        </div>
        
        
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>